
*{
    margin: 0%;
    padding: 0%;
}
.btn{
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #ffffff;
    display: inline-block;
}

/* header section css  */
header{
    padding: 25px 240px;
    background: #fff4e7;
}
/* navigation bar related css  */
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.nav-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.15rem;
    font-weight: 700;
}
.navbar-menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.navbar-menu ul li a{
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.02rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    display: inline-block;
    padding-left: 30px;
}

/* banner related css  */
.banner-discription h1{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 30px;
}
.banner-discription p{
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}
.banner-discription span{
    display: block;
    text-align: center;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

.Quick-list-of-Our-Features {
    display: flex;
    align-items: center;
    padding: 50px 250px;
    gap: 34px;
}
.Quick-list-of-Our-Features .img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Quick-list-of-Our-Features img{
    width: calc((50% - 20px));
}
.Quick-list-of-Our-Features .discripsion h1{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 2.15rem;
    font-weight: 500;
}
.Quick-list-of-Our-Features .discripsion p{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    margin: 20px 0px;
}

/* Features-you-will-love-&-enjoy section css */
.Features-love-enjoy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px;
    box-sizing: border-box;
    gap: 100px;
}
.Features-love-enjoy .discription, .images{
    width:50%;
}
.Features-love-enjoy .discription > h1 {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.15rem;
    font-weight: 700;
    border-left: 5px solid #ff900e;
    border-radius: 2px;
    padding-left: 10px;
}
.Features-love-enjoy .discription >  p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px 40px;
}
.Features-love-enjoy .discription  h2 {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 1.04rem;
    font-weight: 600;
}
.Features-love-enjoy .discription  .discription-box p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.Features-love-enjoy .discription  .discription-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px;
    margin-bottom: 20px;
}
.Features-love-enjoy .images  img{
    width: 100%;
}
.Features-love-enjoy .images  div {
    width: 342px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    position: relative;
    bottom: 100px;
    left: -65px;
}
.Features-love-enjoy .images  div h1{
    color: #FFF;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}
/* some fact related css  */

.Some-Facts{
    padding: 50px 250px;
}
.Some-Facts h1{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.Some-Facts p{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.Some-Facts-box{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
}
.Some-Facts-box-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border: 1px solid goldenrod;
    border-radius: 8px;
}


/* sponsor section css  */
.sponsor{
    padding: 50px 250px;
}
.sponsor h1{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.sponsor p{
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
}
.sponsor img{
    width: 100%;
}

/* footer css  */
footer {
    padding: 0px 250px 120px 250px;
}
footer p{
    background: #fff4e7;
    border-radius: 8px;
    text-align: center;
    padding: 40px 0px;
}
footer p{
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0px;
}
/* responsive related css  */

/* responsive css for midium devices  */
@media screen and (min-width:577px) and (max-width:1100px){
    /* banner section responsive related css  */
    header {
        padding: 25px 30px;
        background: #fff4e7;
    }
    .navbar-menu ul li a {
        padding-left: 15px;
    }
    .banner-discription h1 {
        font-family: Work Sans;
        font-size: 3rem;
    }

    /* Quick list of Our Features section responsive css  */
    .Quick-list-of-Our-Features {
        padding: 50px 50px;
        gap: 20px;
    }
    .Quick-list-of-Our-Features .img {
        gap: 5px;
    }
    .Quick-list-of-Our-Features img{
        width: calc((50% - 5px));
    }
    .Some-Facts .Some-Facts-box{
        display: grid;
        grid-template-areas: 
        " grid-box-1 grid-box-2"
        " grid-box-3 grid-box-4"
        ;
    }

/* Features-you-will-love-&-enjoy section css */
    .Features-love-enjoy {
        display: flex;
        justify-content: space-between;
        align-items: inherit;
        padding: 50px 40px;
        box-sizing: border-box;
        gap: 100px;
    }

    .Some-Facts {
        padding: 50px 20px;
    }
    .sponsor {
        padding: 20px 59px;
    }
    footer {
        padding: 0px 136px 120px 66px;
    }
    .sponsor .Some-Facts-box-inner{
            padding: 0px 10px;
            border: inherit;
            flex-wrap: wrap;
    }
}
/* small deveices  */
@media screen and  (max-width:576px){
    /* banner section responsive related css  */
    header {
        padding: 25px 30px;
    }
    nav {
        flex-direction: column;
        gap: 25px;
    }
    .navbar-menu ul li a {
        padding-left: 6px;
        font-size: 14px;
    }
    .banner-discription h1 {
        font-size: 2rem;
        margin-top: 18px;
    }
    /* Quick list of Our Features section responsive css  */
    .Quick-list-of-Our-Features {
        flex-direction: column-reverse;
        padding: 50px 30px;
    }


    .Features-love-enjoy {
        padding: 50px 20px;
        flex-direction: column;
        gap: 0px;
    }
    .Features-love-enjoy .discription, .images {
        width: 100%;
    }
    .Features-love-enjoy .images  div {
        width: 288px;
        position: inherit;
        bottom: 0px;
        left: 0px;
    }

    .Some-Facts .Some-Facts-box{
        display: grid;
        grid-template-areas: 
        " grid-box-1 "
        "grid-box-2"
        " grid-box-3 "
        "grid-box-4"
        ;
        justify-content: space-evenly;
    }
    .sponsor .Some-Facts-box{
        display: grid;
        grid-template-areas: 
        " grid-box-1 "
        "grid-box-2"
        " grid-box-3 "
        "grid-box-4"
        "grid-box-5"
        ;
        justify-content: space-evenly;
    }
    .S
    .Some-Facts {
        padding: 50px 10px;
    }
    .sponsor {
        padding: 10px 10px;
    }
    footer {
        padding: 0px 15px 120px 15px;
    }
    .Some-Facts {
        padding: 50px 28px;
    }
}